body {
    background-color: #282828;
    color: #c8c8c8
}

a:link {
    color: orange
}
a:visited {
    color: #ff8c00;
}
a:hover {
    color: yellow;
}


.button, .button:visited {
    background-color: none;
    border: solid cyan 2px;
    border-radius: 15px;
    color: #CBC3E3 !important;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}

.blur {
    color: #404040;
}

#theme_button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 64px;
    height: 64px;
}

.button:hover {
    background-color: cyan;
    color: #26004d !important;
}

::-webkit-scrollbar-track {
    background: #a0a0a0;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #555555;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #303030;
}
